WEATHER_KEY="-----BEGIN PRIVATE KEY-----
YOUR_QWEATHER_ED25519_PRIVATE_KEY
-----END PRIVATE KEY-----"
PROJECT_ID="YOUR_PROJECT_ID"
CREDENTIAL_ID="YOUR_CREDENTIAL_ID"
HOST_API="YOUR_QWEATHER_API_HOST"

